{% extends 'shared/base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row g-2">
    {% for product in this_page %}
    <a href = "{% url 'product:single_product' id=product.id %}">

    <div class="card col-4" >
      {% if product.image %}
        <img src="{{p.image.url}}" class="card-img-top" alt="...">
      {% else %}
      <img src="" class="card-img-top" alt="{{p.brand}}">
      {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <h5 class="card-text">{{product.price}}$</h5>
          <a href="#" class="btn btn-danger">خرید</a>
        </div>
      </div>
    </a>
      {% endfor %}
</div>
<br>
<div class="pagination">
  {% if this_page.has_previous %}
  <a href="/cat/cat_name/?page={{this_page.previous_page_number}}" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>
  {% endif %}
  {% for page in paginator.page_range %}
  <a href="/cat/cat_name/?page={{page}}" {% if page == this_page.number %} class="active-page" {% endif %}>{{page}}</a>
  {% endfor %}
  {% if this_page.has_next %}
  <a href="/cat/cat_name/?page={{this_page.next_page_number}}" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
  {% endif %}
</div>


{% endblock %}