{% extends 'shared/base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row g-2">
    {% for product in page_obj %}
      <a href = "{% url 'product:single_product' id=product.id %}">
        <div class="card mr-2" >
          <img src="https://dkstatics-public.digikala.com/digikala-products/91697083237cc88c91fbf9a1bd76e23b4485bdb4_1712308134.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" class="card-img-top" alt="...">
           <div class="card-body">
              <h5 class="card-title">{{p.name}}</h5>
              <p class="card-text">{{p.description}}</p>
               <h5 class="card-text">{{p.price}}$</h5>
               <a href="#" class="btn btn-danger">خرید</a>
          </div>
        </div>
      </a>
  </div>
      {% endfor %}
</div>

<br>

<!-- pagination links -->
<div>

</div>

<!-- pagination -->

<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="/products/?page={{page_obj.previous_page_number}}" class="prev"><i class="mdi mdi-chevron-double-right"></i></a>
  {% endif %}
  {% for page in paginator.page_range %}
  <a href="/products/?page={{page}}" {% if page == page_obj.number %} class="active-page"{% endif %}>{{page}}</a>
  {% endfor %}
  {% if page_obj.has_next %}
  <a href="/products/?page={{page_obj.next_page_number}}" class="next"><i class="mdi mdi-chevron-double-left"></i></a>
  {% endif %}
</div>

<!-- end pagination -->


{% endblock %}